*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: green;
}

h1{
    width: 80vw;
    margin: auto;
    padding: 10px 0;
    color: white;
    background-color: red;
    text-align: center;
    border: 3px solid yellow;
}

.casino-container{
    width: 80vw;
    margin: auto;
    background-color: green;
    border: 3px solid yellow;
    padding: 150px 0;
    position: relative;
}

.dice-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.dice{
    width: calc(100% / 4);
    border: 8px solid white;
    background-color: red;
    position: relative;
}

.player{
    text-align: center;
    color: yellow;
    padding-top: 25px;
}

.number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
}

.roll{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    text-decoration: none;
    padding: 15px 25px;
    background-color: red;
    color: yellow;
    border: 5px solid white;
}